body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5f1e6; /* Beige background */
    color: #300c10; /* Burgundy text */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Yeseva One', cursive;
    color: #b86b74; /* Rose pink */
    font-size: 2.5em;
    margin-top: 20px;
}

p {
    font-size: 1.2em;
    color: #5f0404; /* Gold */
    margin-bottom: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#travel-map {
    border: 5px solid #5f0404; /* Rose pink border */
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

area {
    cursor: pointer;
}

area:hover {
    filter: brightness(1.2);
}
